<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    </head>
    
    <body>
        <div class="navbar">
            <img src="/ressources/img/Logo_texte_Askillan.png">
            <ul class="navbar_pages">
                <li><a href="index.html">Actualitées</a>
                <li><a href="index.html">Boutique</a>
                <li><a href="index.html">Teaser</a>
                <li><a href="index.html">À propos</a>
                <li><ul><a>Jeux</a>
                    <li>
                </ul>
            </ul>
        </div>
    </body>
</html>